<mat-list class="mat-typography">
    <div *ngFor="let sample of cart.samples">
        <h3 >{{sample.name | titlecase}}</h3>
        <mat-list-item *ngFor="let test of sample.tests">
            <p mat-line>{{test.name + "  |  "}}      Results in {{test.resultDate}} days</p>
        </mat-list-item>
        <div *ngFor="let testPackage of sample.packages">
            <mat-list-item> <p mat-line> {{testPackage.name}} Package </p></mat-list-item>
            <mat-list-item style="margin-left:30px;"  *ngFor="let test of testPackage.tests">
                <p mat-line>{{test.name + "  |  "}}      Results in {{test.resultDate}} days</p>
            </mat-list-item>
        </div>
        <mat-divider></mat-divider>
    </div>
</mat-list>