<mat-list class="mat-typography">
    <div *ngFor="let sample of cart.samples">
        <h3 >{{sample.name | titlecase}}</h3>
        <mat-list-item *ngFor="let test of sample.tests">
            <h4 mat-line>{{test.name}}</h4>
            <p mat-line> {{test.resultDate}} </p>
        </mat-list-item>
        <div *ngFor="let testPackage of sample.packages">
            <h3>{{testPackage.name}} Package</h3>
            <mat-list-item *ngFor="let test of testPackage.tests">
                <span >{{test.name | titlecase}}</span>
                <span style="margin-left: 5px" span > {{test.resultDate}} </span>
            </mat-list-item>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
    </div>
</mat-list>