<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-typography" style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <div style="display:inline">
        <button mat-button (click)="goToPreviousPage()">
            Previous
        </button>
        <button mat-button (click)="goToNextPage()">
            Next
        </button>
    </div>
</div>
<h2 class="mat-typography">
    {{currentPage | titlecase}}
</h2>
<app-login *ngIf="currentPage == 'login'">
</app-login>
<app-user-search *ngIf="currentPage == 'user lookup'">
</app-user-search>
<app-catalog *ngIf="currentPage == 'catalog'">
</app-catalog>